<div
    id="memberMemoEdit"
    class="modal fade"
    data-bs-backdrop="static"
    tabindex="-1"
    aria-labelledby="memberModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <form method="post">
            <input type="hidden" name="_token" value="" />
            <input type="hidden" name="target_member_id" value="" />

            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="memberModalLabel">회원 메모</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="color" value="yellow" id="color-yellow" autocomplete="off" checked />
                        <label class="btn btn-outline-secondary da-btn-color--yellow" for="color-yellow"><span class="visually-hidden">yellow</span></label>

                        <input type="radio" class="btn-check" name="color" value="green" id="color-green" autocomplete="off" checked />
                        <label class="btn btn-outline-secondary da-btn-color--green" for="color-green"><span class="visually-hidden">green</span></label>

                        <input type="radio" class="btn-check" name="color" value="purple" id="color-purple" autocomplete="off" checked />
                        <label class="btn btn-outline-secondary da-btn-color--purple" for="color-purple"><span class="visually-hidden">purple</span></label>

                        <input type="radio" class="btn-check" name="color" value="red" id="color-red" autocomplete="off" checked />
                        <label class="btn btn-outline-secondary da-btn-color--red" for="color-red"><span class="visually-hidden">red</span></label>

                        <input type="radio" class="btn-check" name="color" value="blue" id="color-blue" autocomplete="off" checked />
                        <label class="btn btn-outline-secondary da-btn-color--blue" for="color-blue"><span class="visually-hidden">blue</span></label>
                    </div>

                    <div class="mb-3">
                        <label for="da-modal__field-member-memo" class="col-form-label">메모</label>
                        <input type="text" name="memo" class="form-control" id="da-modal__field-member-memo" required />
                    </div>

                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">
                            추가 내용 <span class="fw-lighter">(선택 사항)</span>
                        </label>
                        <textarea
                            name="memo_detail"
                            class="form-control"
                            id="message-text"
                            style="height: 8em"
                        ></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container d-flex flex-wrap">
                        <div>
                            <button
                                type="button"
                                class="btn btn-sm btn-outline-danger js-memo-delete"
                                data-bs-dismiss="modal"
                                data-bs-toggle="popover"
                                data-bs-trigger="hover focus"
                                data-bs-custom-class="danger-popover"
                                data-bs-content="메모를 삭제합니다"
                                data-bs-placement="right"
                            >
                                삭제
                            </button>
                        </div>
                        <div class="ms-auto">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
                                취소
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary px-5" data-bs-dismiss="modal">
                                저장
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
